# Arquivos de cache, build e configuração local do Visual Studio
.vs/
*.user
*.suo
*.cache

# Diretórios de build do .NET
bin/
obj/

# Arquivos de build e cache do Angular
sisand-frontend/.angular/
sisand-frontend/dist/
sisand-frontend/node_modules/

# Logs e outros
npm-debug.log
