.usuarios-container {
    display: flex;
    min-height: 100vh;
    // Sidebar lateral
    .sidebar {
        width: 200px;
        background-color: #6495ED;
        color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .sidebar-logo {
            margin-bottom: 30px;

            img {
                max-width: 120px;
                height: auto;
            }
        }

        .btn {
            width: 100%;
            margin-bottom: 10px;
            background-color: transparent !important; // deixa transparente
            border: 1px solid white; // mantém borda visível
            color: white !important; // texto branco
            &:hover {
                background-color: rgba(255, 255, 255, 0.1); // leve transparência ao passar o mouse
            }
        }
    }
    // Conteúdo principal
    .main-content {
        flex: 1;
        padding: 20px;
        background-color: #f8f9fa;

        h2 {
            margin-bottom: 20px;
        }

        table {
            width: 100%;

            th, td {
                text-align: left;
                vertical-align: middle;
            }

            .acoes button {
                margin-right: 15px;
                margin-bottom: 20px;
            }
        }
    }
}
